body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

header, footer{

    background-color: lightgreen;
}

.site-title{

    color: maroon;
}

#my-image{
/* 1st one horizontal 2nd one vertical 3rd one blur 4th one spread*/

box-shadow: 0px 0px 2px 1px; color: black;
    
}
ul{

    list-style-type: square;
}