body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.wrapper{
    background-color: lightcyan;
    width: 750px;
    margin: 100px
}
/* Image and H1 both inside the header */
header {
    position: relative;
    width: auto;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 10px;
    


}

 #image{
    text-align: center;
    width: 100%;
    height: 300px;
   

} 
/* #image{
    width: 710px;
    height: auto;
    margin: 1px;
    box-sizing: border-box;

}   */


header h1{
    position: absolute;
    top: 35%;
    left: 30%;
    text-align: center;
    color: brown;
    font-size: 52px;
       
}

nav li{
    display: inline-block;
    width: 32%;
    border-right: 1px solid black;
    font-size: 24px;
    color: black;
    text-align: center;
}

a{
text-decoration: none;
color: black;

}

li:last-child{
    border-right: none;
}

#second-picture{
    width: 300px;
    float: left;
    margin: 10px;
    height: 350px;
}

#fullname{
    width:710px;
    margin: 10px;
    height: 40px;
}
/* Gave each of my input an id to change their properties */
#email{
    width:710px;
    margin: 10px;
    height: 40px;
}
#message{
    width:710px;
    margin: 10px;
    height: 60px;
}
/* these ids are each section's heading id */
#life, #facts, #contact{
    margin-left: 10px;
}

.label{
    margin: 10px;
    font-size: 18px;
    color: black;
}

.lifeofcat{
    margin: 10px;
}

#form{
    border: 1px solid black;
    padding-top: 20px;
    background-color: rgb(255, 193, 193);
    margin: 10px;
}
.footer{
    margin: 10px;
    text-align: right;
}
#submit{
    margin-top: 5px;
    height: 40px;
}
#radio{
    margin: 10px;
}