body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.wrapper{
    background-color: #fff;
    width: 750px;
    margin: 100px
}
.header {
    position: relative;
    background-image: url(/images/cat1.jpg);
    width: auto;
    height: 300px;

}