html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Copied the reset code from week 7 learning material */

body{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
	width: 760px;
	margin: 0 auto;
	/* margin 0 auto added to make it center */
}
.header{
	background-color: black;
	padding: 10px;
	/* for giving black color i added black bg in header and for space 10px padding */
}
/* target the logo picture and gave the background color */
.logo {
	background-color:#c78c06;
	padding-top: 10px;
	padding-bottom: 30px;
	/* i dont know how much paddi i have to give so i gave estimate 30px padding to look closer */
}

.nav li:nth-child(1) {
	background-color: #c78c06;
}


nav ul li {
	background-color: black;
}
/* target all the list and give a black background */

nav ul li a{
	color: #c78c06;
	text-decoration: none;
	line-height: 40px;
	/* inline hight for giving height between nav list i learned it from w3 school */
}

/* give a id to home list ancher tag to target it and give it black color */
#home{
	color: black;
}

nav li{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.fa-magnifying-glass{
	color: #c78c06;
	border:1px solid #c78c06;
	padding: 5px;
	/* border for the line around that and padding for the distance betwenn line and icon */
}

.search-bar{
	height: 29px;
	width: 100%;
	/* i adjusted hight estimately since i have no information about hieght and size */
	/* width 100% i added to match the container width */
}

.search{
	display: flex;
	align-items: center;
	/* .search is class of div that has icon and search bar, used flex to aline them */
}
/* header finished */

main img {
	width: 760px;
	/* gave container width size to the image to maintain the height line */
}

.main-page {
	background-image: url(/images/main-banner.jpg);
	width: 760px;
	background-size: cover;
	padding: 50px 0px 50px 0px;
	/* back-ground size used to make the picture cover the space */

}


.main-page h1 {
	color: white;
	font-size: 80px;
	/* font size is approximate to match the design */
	font-weight: bolder;
	/* font weight is bolder to make the look same like given sample */
}

.main-page p {
	color: white;
	margin-top: 10px;
}

.main-page button {
	padding: 20px;
	background-color: #c78c06;
	border: 2px solid #c78c06;
	/* border added to remove the strock, i dont know where it came from */
}

.fa-play {
	margin-left: 10px;
	/* margin left 10px to create distance between icon and text */

}

/* .content-box{
	background-color: black;
	padding: 10px;
	margin: 20px 0px 20px 0px;
	
} */

.content-box h1 {
	line-height: 110px;
	/* used inline to create space between text */
}

.content-box p {
	line-height: 25px;
}

.content-box button {
	margin-top: 10px;
}

.content-box{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 20px 0px 20px 0px;
	/* rgba for red, green, blue and aplha that is opecity */
	
}
/* main page done */

.about-us-image {
	width: 740px;
	/* image was going out of the container so i gave a width to prevent that */
	/* -20 px from 760px width, becauese i gave 10px padding */
}

.about-us {
	background-color:#ffe6ac ;
	padding: 10px;
}

.about-us h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 20px 0px 20px 0px;
	/* estimate value given to match with the sample */
}

.about-us p {
	line-height: 25px ;
	/* height given to paragraph */
}
/* about us section finished */

.our-services {
	margin: 10px;
}
.our-services h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 50px 0px 20px 0px ;
	/* value are estimated to match with the given design */
}

.digital img {
	width: 740px;
}

.digital {
	background-color: #ffe6ac;
}

.digital h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.digital p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.digital button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
	/* button values are same like main page buttom */
	/* thinking to use same values for upcoming buttons */
}

.marketing img {
	width: 740px;
}

.marketing {
	background-color: #ffe6ac;
}

.marketing h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.marketing p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.marketing button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}

.video img {
	width: 740px;
}

.video {
	background-color: #ffe6ac;
}

.video h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.video p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.video button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}


.web img {
	width: 740px;
}

.web {
	background-color: #ffe6ac;
}

.web h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.web p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.web button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}

.print img {
	width: 740px;
}

.print {
	background-color: #ffe6ac;
}

.print h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.print p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.print button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}
/* services section finished */

.vision {
	background-image: url(/images/vision.jpg);
	background-size: cover;
	background-position: center;
	/* inspection saved me */
	/* width: 760px; */
	padding: 10px;
}

/* .print {
	background-color: #ffe6ac;
} */

.vision h2 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.vision p {
	color: white;
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 20px 20px 10px;
}

.vision button {
	/* color: rgb(255, 255, 255); */
	color: #ffffff;
	background-color:#222;
	padding: 20px;
	margin: 10px;
	border: 1px solid #c78c06;
}