@media screen  and (max-width:760px){
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Copied the reset code from week 7 learning material */

body{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
	width: 760px;
	margin: 0 auto;
	/* margin 0 auto added to make it center */
}
.header{
	background-color: black;
	padding: 10px;
	/* for giving black color i added black bg in header and for space 10px padding */
}
/* target the logo picture and gave the background color */
.logo {
	background-color:#c78c06;
	padding-top: 10px;
	padding-bottom: 30px;
	/* i dont know how much paddi i have to give so i gave estimate 30px padding to look closer */
}

.nav li:nth-child(1) {
	background-color: #c78c06;
}


nav ul li {
	background-color: black;
}
/* target all the list and give a black background */

nav ul li a{
	color: #c78c06;
	text-decoration: none;
	line-height: 40px;
	/* inline hight for giving height between nav list i learned it from w3 school */
}

/* give a id to home list ancher tag to target it and give it black color */
#home{
	color: black;
}

nav li{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.fa-magnifying-glass{
	color: #c78c06;
	border:1px solid #c78c06;
	padding: 5px;
	/* border for the line around that and padding for the distance betwenn line and icon */
}

.search-bar{
	height: 29px;
	width: 100%;
	/* i adjusted hight estimately since i have no information about hieght and size */
	/* width 100% i added to match the container width */
}

.search{
	display: flex;
	align-items: center;
	/* .search is class of div that has icon and search bar, used flex to aline them */
}
/* header finished */

main img {
	width: 760px;
	/* gave container width size to the image to maintain the height line */
}

.main-page {
	background-image: url(/images/main-banner.jpg);
	width: 760px;
	background-size: cover;
	padding: 50px 0px 50px 0px;
	/* back-ground size makes to make the picture cover the space */

}


.main-page h1 {
	color: white;
	font-size: 80px;
	/* font size is approximate to match the design */
	font-weight: bolder;
	/* font weight is bolder to make the look same like given sample */
}

.main-page p {
	color: white;
	margin-top: 10px;
}

.main-page button {
	padding: 20px;
	background-color: #c78c06;
	border: 2px solid #c78c06;
	/* border added to remove the strock, i dont know where it came from */
}

.fa-play {
	margin-left: 10px;
	/* margin left 10px to create distance between icon and text */

}

/* .content-box{
	background-color: black;
	padding: 10px;
	margin: 20px 0px 20px 0px;
	
} */

.content-box h1 {
	line-height: 110px;
	/* used inline to create space between text */
}

.content-box p {
	line-height: 25px;
}

.content-box button {
	margin-top: 10px;
}

.content-box{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 20px 0px 20px 0px;
	/* rgba for red, green, blue and aplha that is opecity */
	
}
/* main page done */

.about-us-image {
	width: 740px;
	/* image was going out of the container so i gave a width to prevent that */
	/* -20 px from 760px width, becauese i gave 10px padding */
}

.about-us {
	background-color:#ffe6ac ;
	padding: 10px;
}

.about-us h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 20px 0px 20px 0px;
	/* estimate value given to match with the sample */
}

.about-us p {
	line-height: 25px ;
	/* height given to paragraph */
}
/* about us section finished */

.our-services {
	margin: 10px;
}
.our-services h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 50px 0px 20px 0px ;
	/* value are estimated to match with the given design */
}

.digital img {
	width: 740px;
}

.digital {
	background-color: #ffe6ac;
}

.digital h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.digital p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.digital button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
	/* button values are same like main page buttom */
	/* thinking to use same values for upcoming buttons */
}

.marketing img {
	width: 740px;
}

.marketing {
	background-color: #ffe6ac;
}

.marketing h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.marketing p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.marketing button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}

.video img {
	width: 740px;
}

.video {
	background-color: #ffe6ac;
}

.video h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.video p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.video button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}


.web img {
	width: 740px;
}

.web {
	background-color: #ffe6ac;
}

.web h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.web p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.web button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}

.print img {
	width: 740px;
}

.print {
	background-color: #ffe6ac;
}

.print h3 {
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.print p {
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 0px 10px 10px;
}

.print button {
	color: white;
	background-color: black;
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
}
/* services section finished */

.vision {
	background-image: url(/images/vision.jpg);
	background-size: cover;
	background-position: center;
	/* inspection saved me */
	/* width: 760px; */
	padding: 10px;
}

/* .print {
	background-color: #ffe6ac;
} */

.vision h2 {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin:30px 0px 30px 10px;
}

.vision p {
	color: white;
	line-height: 25px;
	/* all the paragraph's line hieght 25px */
	margin: 0px 20px 20px 10px;
}

.vision button {
	/* color: rgb(255, 255, 255); */
	color: #ffffff;
	background-color:#222;
	padding: 20px;
	margin: 10px;
	border: 1px solid #c78c06;
}
/* visin finished. All of these sections are almost same i used service section's values for vision, only some slight changes */

.our-team-wrapper h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 50px 0px 20px 10px;

}

.john img {
	width: 740px;
}

.john {
	margin: 10px;
	background-color:#ffe6ac ;
}

.john h3 {
	font-size: 25px;
	font-weight: bold;
	margin: 10px 10px 10px 10px ;
}

.john h4 {
	font-weight: bold;
	margin-left: 10px;
}

.hr {
	height: 3px;
	background-color: #c78c06;
	margin: 10px;
}

.john p {
	line-height: 25px;
	margin: 0px 10px 10px 10px;
	padding-bottom: 20px;
}


.bob img {
	width: 740px;
}

.bob {
	margin: 10px;
	background-color:#ffe6ac ;
}

.bob h3 {
	font-size: 25px;
	font-weight: bold;
	margin: 10px 10px 10px 10px ;
}

.bob h4 {
	font-weight: bold;
	margin-left: 10px;
}

.hr {
	height: 3px;
	background-color: #c78c06;
	margin: 10px;
}

.bob p {
	line-height: 25px;
	margin: 0px 10px 10px 10px;
	padding-bottom: 20px;
}

/* used same properties and values that i used for john */

.contact-us {
	width: 760px;
	margin: 10px;
	
}

.contact-us h2 {
	font-size: 50px;
	font-weight: bolder;
	margin: 50px 0px 20px 0px;
}

.contact-us h3 {
	font-size: 35px;
	font-weight: bolder;
	margin: 30px 0px 20px 0px;
}

#full-name {
	width: 740px;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px;
	/* 5px for top and bottom and 0px for left and right */
}

#email {
	width: 740px;
	margin:10px 0px 10px 0px ;
	padding: 5px 0px;
}

#message {
	width: 740px;
	height: 150px;
	margin:10px 0px 10px 0px ;
	padding: 5px 0px;

}

.contact-us button {
	background-color: #222;
	color:#c78c06;
	font-size: 20px;
}
/* form finished */

table tr th:nth-child(1) {
	background-color:#ffe6ac;
	padding: 15px 185px;
	border: 1px solid black;
	
}

table tr th:nth-child(2) {
	background-color:#ffe6ac;
	padding: 15px 150px;
	border: 1px solid black;
}

/* table tr {
	border: 1px solid black;
} */
 /* easy way is to give border to tr means table row */

table tr td:nth-child(1) {
	padding: 15px;
	border: 1px solid black;
	/* padding only for top and bottom */
	/* padding value is completely estimated. i tried multiple value and this one matches closely */
}

table tr td:nth-child(2) {
	padding: 15px;
	border: 1px solid black;
}

/* table finished */

.location iframe {
	width: 760px;
	padding: 10px 0px 10px 0px;
}

footer{
	color:#c78c06;
	font-size: 18px;
	background-color:black;
	/* padding: 20px; */
	padding: 20px 10px;
	line-height: 30px;
	width: 760px;
	
}

.footer{
	color: #c78c06;
	
	
}
	
}
/* mobile design finished */
/* in media screen means i will only target displays of mobile, pc, tablet */
/* min-width means all changes will appear after given 760px and max means changes appear till that px */
@media screen and (min-width: 760px) {
	html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
		max-width: 1200px;  
		/* max 1200px means all of my contents will stay inside 1200px */
		margin: 0 auto;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		/* in the requirment it mentained that max-width no more than 1200px */
}

	/* .search-bar {
		display: inline;
		
	} */
/* since header-container is the parent of all the elements in header so i gave flex to it */
.header-container, ul {
		background-color: black;
		/* i targeted header and ul together and gave black bg to them	 */
}

.header-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
}

.header-container ul li a {
		text-decoration: none;
		color: #c78c06;
		margin-right: 50px;
		font-size: 20px;
		
}

.header-container ul {
		width: 635px;
		display: flex;
		justify-content: space-around;
		/* i dont lnow why but justify content does not working here */
		
		
}

/* i gave a id to first ancher tag of list, so that i can easily target that */
#home {
		color: black;
		background-color: #c78c06;
		padding: 14px 33px;
}

.search-bar {
		height: 30px;

}

.fa-magnifying-glass {
		color: #c78c06;
		border: 1px solid #c78c06;
		padding: 5px;
		height: 19px;
		/* since i have no information about size or padding, margin i am trying different value in inspect and matching my code with design */
}

.header-container img {
		margin: 25px 10px;
		
}
/* header finished */

.main-page {
	background-image: url(/images/main-banner.jpg);
	background-size:cover;
	background-position: center;
	width: 1200px;
	padding: 30px 0px;
}

.main-page h1 {
	color: white;
	font-size: 72px;
	font-weight: bolder;
	line-height: 100px;
	padding-top: 20px;
	/* since i have no information about size i tried multiple value and used the closest one */
}
/* content-box is a div inside main-page that i will use to give rbga */
.content-box {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	width: 1000px;
	margin: 0 auto;
}

.main-page p {
	color: white;
	line-height: 25px;
	margin: 30px 0px 15px 0px;
}

.main-page button {
	color: black;
	background-color: #c78c06;
	padding: 20px 10px;
	border: 1px solid #c78c06;
	/* i used border to remove the unwanted black button border */

}

.fa-play {
	margin-left: 10px;
	/* to create the space between text and icon */
}

.about-us {
	background-color:#ffe6ac;
	float: left;
	
}

.about-us h2 {
	/* this is about us heading */
	font-size: 45px;
	font-weight: bolder;
	margin: 20px 10px 15px 100px;
}

.about-us img {
	width: 500px;
	/* i made a calculation like if my container 1200px if i give 500px to img and 500px to paragraph i will get 100px margin both side */
	float: left;
	margin: 10px 10px 10px 100px;
	/* i tried this margin and it worked to make the space  */
}

.about-us p {
	line-height: 20px;
	margin: 10px 100px 10px 10px;
	/* clear:right; */
	/* i am bit confused about this clearing */
}
/* about-us section finished */

.our-services {
	clear: left;
	/* so i tried to clear next section and now it works*/
	width: 1000px;
	margin: 0px auto;
	/* i gave 100px width and margin 0 auto to make the service section center in the container */
}

.our-services h2 {
	font-size: 45px;
	font-weight: bolder;
	padding: 30px 0px 20px 0px ;
	/* i bassically used bolder for all of my heading since i dont know the value */
}

.digital {
	width: auto;
	/* margin: 0px 5px 0px 0px; */
	background-color:#ffe6ac ;
	/* i removed my manual width and make the width with grid */
	
}

.digital img {
	width: 100%;
	/* width 100% to cover the whole div */
}

.digital h3 {
	font-size: 25px;
	font-weight: bolder;
	margin: 20px 0px 20px 10px ;
}

.digital p {
	line-height: 20px;
	margin: 0px 10px 10px 10px;
}

.digital button {
	font-size: large;
	color: white;
	background-color: black;
	width:100%;
	/* margin: 10px 10px 10px 10px ; */
	/* div width is 500px button width 480px and margin right, left 20px */
	padding: 25px 10px 25px 10px;
	/* these values are estimated */
	border: 1px solid black;
	
}

.marketing {
	width: auto;
	/* margin: 0px 0px 0px 5px; */
	background-color:#ffe6ac ;
}

.marketing img {
	width: 100%;
	/* width 100% to cover the whole div */
}

.marketing h3 {
	font-size: 25px;
	font-weight: bolder;
	margin: 20px 0px 20px 10px ;
}

.marketing p {
	line-height: 20px;
	margin: 0px 10px 10px 10px;
}

.marketing button {
	font-size: large;
	color: white;
	background-color: black;
	width: 100%;
	/* margin: 10px 10px 10px 10px ; */
	/* div width is 500px button width 480px and margin right, left 20px */
	padding: 25px 10px 25px 10px;
	/* these values are estimated */
	border: 1px solid black;
	
}	

.video {
	width: auto;
	background-color:#ffe6ac ;
}

.video img {
	width: 100%;
	/* width 100% to cover the whole div */
}

.video h3 {
	font-size: 25px;
	font-weight: bolder;
	margin: 20px 0px 20px 10px ;
}

.video p {
	line-height: 20px;
	margin: 0px 10px 10px 10px;
}

.video button {
	font-size: large;
	color: white;
	background-color: black;
	width: 100%;
	/* margin: 10px 10px 10px 10px ; */
	/* div width is 500px button width 480px and margin right, left 20px */
	padding: 25px 10px 25px 10px;
	/* these values are estimated */
	border: 1px solid black;
	
}

.web {
	width: auto;
	background-color:#ffe6ac ;
}

.web img {
	width: 100%;
	/* width 100% to cover the whole div */
}

.web h3 {
	font-size: 25px;
	font-weight: bolder;
	margin: 20px 0px 20px 10px ;
}

.web p {
	line-height: 20px;
	margin: 0px 10px 10px 10px;
}

.web button {
	font-size: large;
	color: white;
	background-color: black;
	width: 480px;
	margin: 10px 10px 10px 10px ;
	/* div width is 500px button width 480px and margin right, left 20px */
	padding: 25px 10px 25px 10px;
	/* these values are estimated */
	border: 1px solid black;
	
}

.print {
	width: auto;
	background-color:#ffe6ac ;
}

.print img {
	width: 100%;
	/* width 100% to cover the whole div */
}

.print h3 {
	font-size: 25px;
	font-weight: bolder;
	margin: 20px 0px 20px 10px ;
}

.print p {
	line-height: 20px;
	margin: 0px 10px 10px 10px;
}

.print button {
	font-size: large;
	color: white;
	background-color: black;
	width: 480px;
	margin: 10px 10px 10px 10px ;
	/* div width is 500px button width 480px and margin right, left 20px */
	padding: 25px 10px 25px 10px;
	/* these values are estimated */
	border: 1px solid black;
	
}

.services {
	display: grid;
	grid-template-columns: repeat(12,83px);
	grid-template-rows: repeat(12,100px);
	column-gap:10px ;
}

.digital {
	/* row is vertical and column is horizontal */
	/* we can see the line if we inspect and on the grid guide */
	grid-row-start: 1 ;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 7;
	

}

.marketing {
	grid-area: marketing;
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 7;
	grid-column-end: 13;
}

.video {
	grid-row-start:7  ;
	grid-row-end:13 ;
	grid-column-start:1 ;
	grid-column-end: 4 ;
}

.web {
	grid-row-start:7  ;
	grid-row-end:13 ;
	grid-column-start:4;
	grid-column-end: 7;
}

.print {
	
}
	
}